@model ConfirmMailViewModel;
@{
	Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
	<br />
	<form method="post">
		<label>Kullanıcı id</label>
		<input type="text" class="form-control" asp-for="Mail" value="@ViewBag.v" />
		<label>Mail adresinize gelen 6 haneli kodu giriniz.</label>
		<input type="text" class="form-control" asp-for="ConfirmCode" />
		<br />
		<button class="btn btn-primary">Hesabı Aktifleştir</button>
	</form>
	<br />
</div>

