@model BrainWave.DtoLayer.DataTransferObjects.ProjectRequestDtos.SendRequestDto;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <input type="text" asp-for="RequestMessage" />

        <input type="submit" value="İSTEK GÖNDER" />
    </form>
</body>
</html>
