@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageSage - Yeni Kullanıcı Kaydı</title>
    <link rel="stylesheet" href="/template/LoginPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Kayıt Ol</span></div>
            <form method="post">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" asp-for="Username" placeholder="Kullanıcı Adınız" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" asp-for="Password" placeholder="Şifreniz" required>
                </div>
                <ol style="list-style-type: none">
                    <li>
                        <input type="checkbox" />
                        <label><span></span> Beni Hatırla</label>
                        <div class="pass"><span></span><a href="#">Forgot password?</a></div>
                    </li>
                </ol>
                <div class="row button">
                    <input type="submit" value="Giriş Yap">
                </div>
                <div class="register-link">Hesabın yok mu?<a href="/RegisterController1/Index">Kayıt Ol</a></div>

            </form>
        </div>
    </div>

</body>
</html>