@model BrainWave.DtoLayer.DataTransferObjects.UserResourcesDtos.CreateResourceDto;
@{
    Layout = null;
}

<h2>Kaynak Ekle</h2>

<form asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ResourceTitle" class="control-label"> Resource Title:</label>
        <input asp-for="ResourceTitle" class="form-control" />
        <span asp-validation-for="ResourceTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResourceDescription" class="control-label"> Resource Desc:</label>
        <input asp-for="ResourceDescription" class="form-control" />
        <span asp-validation-for="ResourceDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResourceAuthor" class="control-label"> Resource Author:</label>
        <input asp-for="ResourceAuthor" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ResourceCategories" class="control-label"> Resource Categories:</label>
        <select asp-for="ResourceCategories" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ResourceImage" class="control-label">Resource Image:</label>
        <input asp-for="ResourceImage" class="form-control" type="file"/>
    </div>

    <div class="form-group">
        <label asp-for="ResourceUrl" class="control-label">Resource Url:</label>
        <input asp-for="ResourceUrl" class="form-control" type="url" />
    </div>

    <br />
    <div class="form-group">
        <input type="submit" value="Add Resource" class="btn btn-primary" />
    </div>
</form>
